  h1{
    text-align: center;
    color: #0f0f0f;
  }

  div.gallery{
  
  width: 1400px;
  height:100%;
  }
  img.gallerypics{
  width: 40%;
  height: 40%;
  }
  img.gallerypics:hover{
    width: 55%;
    height: 55%;
  }

  p.picmode{
    text-align: center;
  }
  footer{
    color: #666666;
  }
  